<div class="content">
	<h1>{{title}}</h1>
	<div class="post-info">
		<div class="published">
			<small>Published on {{dateCreated}}</small>
		</div>
		<div class="post-tags">
			{{#each tags}}
				<small class="tags"><a href="/tags/{{label}}">{{label}}</a></small>
			{{/each}}
		</div>
	</div>
	{{{content}}}
	{{#if userId}}
		<a class="edit-btn" href="/posts/edit/{{postId}}">Edit post</a>
		<a class="delete-btn" href="/posts/delete/{{postId}}">Delete post</a>
	{{/if}}
</div>
